pandas == 2.2.2
numpy == 1.26.4
joblib == 1.4.2
pydantic == 2.9.2
scikit-learn === 1.5.2
feature-engine == 1.8.1
strictyaml == 1.7.3
ruamel.yaml == 0.18.6
pytest == 8.3.3

uvicorn==0.30.3
fastapi==0.111.1
typing_extensions==4.12.2